{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'edit.css' %}">
</head>
<body>
    <div class="login" >
        <div class="card">
            <h1 id="prof">Profile</h1>

            <div class="divider"></div>

    <form class="profile">
        <table>
          <tr>
            <td><input type="text" placeholder="Name of teacher" value="{{ a.name }}"><br><br></td>
          </tr>  
          <tr>
            <td>
                <input type="text" placeholder="Subject" value="{{ a.SUBJECT.subject}}"><br><br>
            </td>
          </tr>
          <tr>
            <td>
                <input type="text" placeholder="Department" value="{{ a.DEPARTMENT.Dept_Name }}  "><br><br>
            </td>
          </tr>
          <tr>
            <td>
                <input type="text" placeholder="Email ID" value="{{ a.email }}"><br><br>
            </td>
          </tr>
          <tr>
            <td>
                <input type="text" placeholder="Phone Number" value="{{ a.phonenumber }}"><br><br>
            </td>
          </tr>
          <tr>
            <td>
                <button type="submit">update</button> 
            </td>
          </tr>
       

        </table>
        
    </form>
</div>
</div>
</body>
</html>