<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login" >
        <div class="card">
            <h1>Report</h1>

            <div class="divider"></div>

    <form>
        <input type="text" placeholder="Student"><br><br>
        <input type="text" placeholder="Date"><br><br>
        <input type="text" placeholder="Report"><br><br>
        <input type="text" placeholder="Reply"><br><br>
        <button type="submit">Update</button> 
    </form>
</div>
</div>
</body>
</html>