{% extends 'teacher/teacherbase.html'%}
{% block content %}

<div class="container-fluid d-flex justify-content-center">
  <form id="form1" name="form1" method="post" class="mt-5" action="add_timetable_action" enctype="multipart/form-data">
  <h1 class="h1 mt-3" style="margin-left: 170px;">Timetable</h1>
  {% csrf_token %}
  <table class="table table-dark table-hover" style="width: 600px;">
      <tr>
      <td>Day</td>
      <td>
        <select name='day' class="form-control">
          {% for day in available_days %}
            <option value="{{ day }}">{{ day }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>slot_9_10</td>
      <td>
        <select name='slot_9_10' class="form-control">
          {% for i in subjects %}
          <option value={{ i.id }}>{{ i.subject }}</option>
          {%endfor%}
        </select>
      </td>
    </tr>
    <tr>
      <td>slot_10_11</td>
      <td>
        <select name='slot_10_11' class="form-control">
          {% for i in subjects %}
          <option value={{ i.id }}>{{ i.subject }}</option>
          {%endfor%}
        </select>
      </td>
    </tr>
    <tr>
      <td>slot_11_12</td>
      <td>
        <select name='slot_11_12' class="form-control">
          {% for i in subjects %}
          <option value={{ i.id }}>{{ i.subject }}</option>
          {%endfor%}
        </select>
      </td>
    </tr>
    <tr>
      <td>slot_1_2</td>
      <td>
        <select name='slot_1_2' class="form-control">
          {% for i in subjects %}
          <option value={{ i.id }}>{{ i.subject }}</option>
          {%endfor%}
        </select>
      </td>
    </tr>
    <tr>
      <td>slot_2_3</td>
      <td>
        <select name='slot_2_3' class="form-control">
          {% for i in subjects %}
          <option value={{ i.id }}>{{ i.subject }}</option>
          {%endfor%}
        </select>
      </td>
    </tr>
    <tr>
      <td>slot_3_4</td>
      <td>
        <select name='slot_3_4' class="form-control">
          {% for i in subjects %}
          <option value={{ i.id }}>{{ i.subject }}</option>
          {%endfor%}
        </select>
      </td>
    </tr>
      
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" class="btn btn-light" style="width: 50%;" value="ADD" />
      </div></td>
    </tr>
  </table>
</form>
</div>

{% endblock %}
