<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
        <th>Subject name</th>
        <th>Sub teacher</th>
        <th colspan="2">Action</th>
        </tr>
        <tr>
            <td>exam</td>
            <td>123</td>
            <td><a href="#">edit</a>
            <a href="#">delete</a></td>
           
        </tr>
    </table>
</body>
</html>