<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
        <th>Date</th>
        <th>Subject</th>
        <th>Hour</th>
        <th>Teacher</th>
        </tr>
        <tr>
            {% for i in val  %}
            <td>{{i.Date}}</td>
            <td>{{i.SUBJECTID.subject}}</td>
            <td>{{i.hour}}</td>
            <td>{{i.TEACHERID.name}}</td>
        </tr>
        {% endfor %}
        
    </table>
</body>
</html>