<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
        <th>Date</th>
        <th>Subject</th>
        <th>Hour</th>
        <th>Teacher</th>
        <th colspan="2">Action</th>
        </tr>
        <tr>
            <td>{{i.date}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.hour"}}></i></td>
            <td>{{.teacher}}</td>
            <td><a href="#">edit</a>
            <a href="/delete_timetable/{{i.id}}" onclick="return confirm('are you sure you want to delete?')">delete</a></td>  
           
        </tr>
        
    </table>
</body>
</html>