<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Department</th>
        <th>Email ID</th>
        <th>Phone Number</th>
        <th colspan="2">Action</th>
        </tr>
        <tr>
            <td>arc</td>
            <td>java</td>
            <td>cs</td>
            <td>abc@gmail.com</td>
            <th>0987</th>
            <td><a href="#">edit</a>
            <a href="#">delete</a></td>
           
        </tr>
        
    </table>
</body>
</html>