{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="login" >
        <div class="card">
            <h1 id="prof">Profile</h1>

            <div class="divider"></div>

    <form class="profile">
        <input type="text" placeholder="Name of teacher"><br><br>
        <input type="text" placeholder="Subject"><br><br>
        <input type="text" placeholder="Department"><br><br>
        <input type="text" placeholder="Email ID"><br><br>
        <input type="text" placeholder="Phone Number">
        <button type="submit">Submit</button> 
    </form>
</div>
</div>
</body>
</html>