<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
        <th>Name of teacher</th>
        <th>Name of subject</th>
        <th>Phone number</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{i.TEACHERID.name}}</td>
            <td>{{i.SUBJECTID.subject}}</td>
            <td>{{i.phonenumber}}</td>
           
        </tr>
        {% endfor %}

        
    </table>
</body>
</html>