<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
        <th>Name of Student</th>
        <th>Roll No</th>
        <th>Email ID</th>
        <th>Phone Number</th>
        <th>Department of Student</th>
        </tr>
        <tr>
            <td>cs</td>
            <td>abc</td>
            <td>abc@gmail.com</td>
            <th>0987</th>
            <th>cs</th>
           
        </tr>
        
    </table>
</body>
</html>