


{% extends 'teacher/teacherbase.html'%}
{% block content %}
<div class="tbl-div">
    <div class="tbl-hd">
        <h3>Notification<i class="fa-solid fa-caret-right"></i></h3>
 
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Notification</th>
                <th>Date</th>
               

            </tr>
        </thead>
        <tbody>
            {% for i in a %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.Notification}}</td>
                <td>{{i.created_at}}</td>

                </td>

            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>
{% endblock %}