{% extends 'teacher/teacherbase.html'%}
{% block content %}
<div class="tbl-div">
    <div class="tbl-hd">
        <h3>Staffs<i class="fa-solid fa-caret-right"></i></h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Name of Teacher</th>
                <th>Name of Subject</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for i in a %}
            <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.DEPARTMENT.Dept_Name}}</td>
                    <td>{{i.phonenumber}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}