<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login" >
        <div class="card">
            <h1 id="heading">Department</h1>

            <div class="divider"></div>

    <form class="space" method="post">
        {% csrf_token %}
        <input type="text" name="Dept_Name" placeholder="Name of department"><br><br>
        <button type="submit">Add dept</button> 
    </form>
</div>
</div>
</body>
</html>