<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login" >
        <div class="card">
            <h1>Student</h1>

            <div class="divider"></div>

    <form class="student" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Name of student" name="name" value="{{b.name}}"><br><br>
        <input type="text" placeholder="Email ID" name="email" value="{{b.email}}"><br><br>
        <input type="text" placeholder="Phone Number" name="phonenumber" value="{{b.phonenumber}}" value=""><br><br>
        <select name="department">
            {% for i in val  %}
            <option value="{{i.Dept_Name}}">{{i.Dept_Name}}</option>
            {% endfor %}
        </select><br>
        <input type="text" placeholder="Username" name="username" value="{{b.LOGINID.username}}"><br><br>
        <button type="submit">update</button> 
    </form>
</div>
</div>
</body>
</html>