{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="login" >
        <div class="card">
            <h1 id="complaint">Complaint</h1>

            <div class="divider"></div>

    <form class="comp">
        <input type="text" placeholder="Name of student"><br><br>
        <input type="text" placeholder="Complaint"><br><br>
        <input type="text" placeholder="Date"><br><br>
        <input type="text" placeholder="Department of Student"><br>
        <button type="submit">update</button> 
    </form>
</div>
</div>
</body>
</html>