<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login" >
        <div class="card">
            <h1 id="course">Course</h1>

            <div class="divider"></div>

    <form class="space" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Name of course" name="CourseName" value="{{a.CourseName}}" ><br><br>
        <!-- <input type="text" placeholder="Name of teacher"><br> -->
        <button type="submit">Update</button> 
    </form>
</div>
</div>
    
</body>
</html>