<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login" >
        <div class="card">
            <h1 id="prof">Profile</h1>

            <div class="divider"></div>

    <form class="profile" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Notification" name="Notification" value="{{b.Notification}}"><br><br>
        <button type="submit">update</button> 
    </form>
</div>
</div>
</body>
</html>