{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
    <a href="/complaint/"><i class="material-icons">add</i></a>   
    <div class="login">
 
    <table border ="1" >
        <tr>
        <th>student name</th>
        <th>complaint</th>
        <th>date</th>
        <th>reply</th>
        <th colspan="2">Action</th>
        </tr>
        <tr>
            <td>cs</td>
            <td>abc</td>
            <td>abc</td>
            <td>abc</td>
            <td><a href="#">edit</a>
            <a href="#">delete</a></td>
           
        </tr>
        
    </table>
    </div>
</body>
</html>