<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div>
        <a href="/student/"><i class="material-icons">add</i></a>
    </div>
    <table border="1">
        <tr>
        <th>Name of teacher</th>
        <th>Name of subject/th>
        <th>Phone number</th>
        <th colspan="2">Action</th>
        </tr>
        <tr>
            <td>cs</td>
            <td>abc</td>
            <td>098</td>
            <td><a href="#">edit</a>
            <a href="#">delete</a></td>
           
        </tr>
        
    </table>
</body>
</html>