{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
    <div class="login">
 
    <table border ="1" >
        <tr>
            <th>id</th>
        <th>student name</th>
        <th>complaint</th>
        <th>date</th>
        <th>reply</th>
        </tr>
        {% for i in val %}

        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.STUDENTID.name}}</td>
            <td>{{i.complaint}}</td>
            <td>{{i.date}}</td>

            <td>{{i.reply}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>