<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login" >
        <div class="card">
            <h1 id="pass">Change Password</h1>

            <div class="divider"></div>

    <form class="password">
        <input type="text" placeholder="old password"><br><br>
        <input type="text" placeholder="New Password"><br><br>
        <input type="text" placeholder="Confirm Password"><br><br>
        <button type="submit">Submit</button> 
    </form>
</div>
</div>
</body>
</html>