

{% extends 'administrator/base.html'%}
{% block content %}
<div class="tbl-div">
    <div class="form-container">
        <h2>Department form</h2>
        <form id="addForm" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label">Name of the Department </label>
              <input type="text" class="form-control" id="name" name="Dept_Name" placeholder="Enter name of the Department" required>
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-success py-2" type="submit">Submit</button>
            </div>
          </form>
    </div>
</div>
{% endblock %}