

{% extends 'administrator/base.html'%}
{% block content %}
<div class="tbl-div">
    <div class="tbl-hd">
        <h3>Subject<i class="fa-solid fa-caret-right"></i></h3>
    <a class="btn btn-primary" href="/subject">Add new subject</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Name of Subject</th>
                <th>Name of the Department</th>
                <th colspan="2">Action</th>

            </tr>
        </thead>
        <tbody>
            {% for i in a %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ i.subject }}</td>
                <th>{{i.DEPARTMENT.Dept_Name}}</th>
                <td><a class="btn btn-danger" href="/delete_subject/{{i.id}}" onclick="return confirm('are you sure you want to delete?')">delete</a>   
                </td>

            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>
{% endblock %}